@model Phim


<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <h2>Update Phim</h2>
    <div class="form-group">
        <label>Tựa đề</label>
        <input asp-for="TuaDe" class="form-control" />
        <span asp-validation-for="TuaDe" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Diễn Viên </label>
        <input asp-for="DienVien" class="form-control" />
        <span asp-validation-for="DienVien" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Thể loại</label>
        <input type="radio" asp-for="TrongNuoc" value="true" />việt nam
        <input type="radio" asp-for="TrongNuoc" value="false" />nước ngoài
    </div>
    <div class="form-group">
        <label>Thời Lượng</label>
        <input asp-for="ThoiLuong" class="form-control" />
        <span asp-validation-for="ThoiLuong" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>giá vé</label>
        <input asp-for="GiaVe" class="form-control" />
        <span asp-validation-for="GiaVe" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary"> Save </button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>